body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url("../img/img/background.jpg");
    background-size: auto 100vh;
}
header {
    color: white;
    background-color: rgb(50, 50, 50);
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}
header a {
    color: white;
    font-size: 15px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
}
section p {
    padding-left: 20px;
    padding-right: 20px;
}
.sectionImg {
    max-width: 100%;
    border-radius: 15px;
    margin: auto;
    display: block;
}
.dataTitle {
    font-weight: bold;
}
#articleFooter {
    color: white;
    background-color: rgb(50, 50, 50);
    margin: 25px 30px 60px 30px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 60px;
}
#articleFooter p {
    margin: 0;
}
.personalFooter {
    margin: 0;
	width: 100vw;
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: gray;
}
img.personalFooter {
    margin: 0;
	border: none;
	box-shadow: none;
}
p.personalFooter {
	color:white;
	font-family:'Courier New';
	margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
a.personalFooter {
    color:white;
	font-family:'Courier New';
}