img {
    width: 95%;
    border-radius: 30%;
    box-shadow: 5px 10px 5px grey;
    margin: 10px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

header {
    background-color: burlywood;
    padding: 2px;
    text-align: center;
}

section p, h1 {
    padding: 20px;
}

aside {
    margin: 20px;
    border: 10px black dashed;
    background-color: grey;
}
aside h1 {
    margin: 0;
    padding-bottom: 0;
    font-size: 30px;
    text-align: center;
}
.keyFact > h1 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
    font-size: 20px;
    text-align: left;
}
.keyFact > p {
    margin: 0;
    padding-bottom: 20px;
    padding-left: 15%;
    font-size: 15px;
}

footer {
    background-color: grey;
}
footer p {
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px;
}
a {
    color: burlywood;
}

.fadeIn{
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }