body {
	margin: 0;
}

img {

	width: 50%;
	border: 5px solid green;
	border-radius: 50%;
	box-shadow: 5px 5px 4px darkgreen;
}
#imageLeft {
	
	animation: resizeLeft 5s infinite;
	cursor: wait;
}
#imageRight {
	animation: resizeRight 5s infinite;
	cursor: progress;
}
@keyframes resizeLeft{
	0% {width:100%;}
	50% {width:50%;}
	100% {width:100%;}
}
@keyframes resizeRight{
	0% {width:50%;}
	50% {width:100%;}
	100% {width:50%;}
}
.row {
	height: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.column {
	
	flex: 50%;
}

video {
	width: 30%;
	margin-bottom: 100px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 15px 5px 5px 5px;
	text-align: center;
	background-color: darkgrey;
}
footer img {
	border: none;
	box-shadow: none;
}
footer p {
	color:black;
	font-family:'Courier New';
	margin: 0;
}